/*============================|reset|===========================*/
*,
::after,
::before {
  box-sizing: border-box;
}
:root {
  --bg-color: rgb(27, 69, 113);
  --text-color: #f4f5f7;
  --accent-color: #1a56db;
  --subaccent-color: #3f83f8;
}

img {
  display: block;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--text-color);
}
a {
  text-decoration: none;
  cursor: pointer;
  color: var(--text-color);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}
/*============================|global|===========================*/
body {
  position: relative;
  width: 100vw;
  background-color: var(--bg-color);
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  letter-spacing: 0.02em;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.01em;
  line-height: 1.16;
  margin-bottom: 24px;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.5;
}
section {
  display: block;
  padding: 70px 0 120px;
  margin: 0 auto;
}
.wrapper {
  padding: 0;
  margin: 0 auto;
}
@media screen and (max-width: 427px) {
  .wrapper {
    width: 100%;
  }
}
@media screen and (min-width: 428px) {
  .wrapper {
    width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .wrapper {
    width: 1024px;
    padding: 0 15px;
  }
}
@media only screen and (min-width: 1440px) {
  .wrapper {
    width: 1440px;
    padding: 0 20px;
  }
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*============================|mobile menu|===========================*/
.menu-toggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: var(--text-color);
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  position: absolute;
  top: 24px;
  right: 24px;
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: var(--subaccent-color);
}
.icon-mobile-menu {
  width: 24px;
  height: 24px;
  stroke: var(--bg-color);
}
.mobile-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 95%;
  padding: 80px 0 40px 40px;
  transform: translateX(200%);
  transition: transform 500ms ease-in-out;
  background: var(--text-color);
  box-shadow: 0px 2px 1px rgba(32, 35, 100, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.mobile-container.is-open {
  transform: translateX(50vw);
}
.mobile-close-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--accent-color);
  border: 1px solid green;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mobile-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 0px;
  margin-bottom: auto;
}
.mobile-nav-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: orange;
}
.active {
  color: orangered;
}
.mobile-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 0px;
  margin-bottom: 48px;
}
.mobile-contacts-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: green;
}
.mobile-contacts-item:hover,
.mobile-contacts-item:focus {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: green;
}
.mobile-social {
  display: flex;
  align-items: flex-start;
  gap: 56px;
  margin: 0;
}
.mobile-social-item .link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative;
}
@media screen and (max-width: 427px) {
  .mobile-nav-item {
    font-size: 24px;
  }

  .mobile-contacts-item {
    font-size: 18px;
  }
  .mobile-contacts-item:hover,
  .mobile-contacts-item:focus {
    font-size: 24px;
  }
  .mobile-social {
    gap: 18px;
  }
}
.icon-menu {
  display: inline-block;
  position: absolute;
  fill: green;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/*============================|Menu|===========================*/
header {
  display: block;
  margin: 0 auto;
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.menu {
  display: none;
}
address {
  display: none;
}

@media only screen and (min-width: 786px) {
  .menu-toggle {
    display: none;
  }
  nav {
    justify-content: center;
    margin: 0 auto;
  }
  nav img {
    margin-right: 24px;
  }
  .menu {
    display: flex;
    align-items: center;
    font-size: 12px;
    text-transform: uppercase;
    margin-right: 24px;
  }

  .menu-list {
    display: inline-flex;
    gap: 12px;
  }
  address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .phone {
    display: inline-flex;
    align-items: center;
  }
  .phone svg {
    background-color: var(--subaccent-color);
    border-radius: 4px;
  }
  address a {
    font-size: 12px;
  }
}
@media only screen and (min-width: 1024px) {
  nav img {
    margin-right: 50px;
  }
  .menu {
    margin-right: 50px;
    font-size: 16px;
  }
  address a {
    font-size: 16px;
  }
}
/*============================|Hero|===========================*/
#hero {
  width: 100%;
  padding-bottom: 0;
  background-image: radial-gradient(
      rgba(27, 69, 113, 0.6),
      rgba(27, 69, 113, 0.6)
    ),
    url(../images/hero3.png),
    radial-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1440px;
}

.hero-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-align: center;
  padding: 0 10px;
  margin: 0 auto;
}
.hero-lst {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.hero-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 300px;
  text-align: left;
}

.order-btn {
  display: block;
  width: 366px;
  height: 71px;
  color: var(--text-color);
  background-color: var(--subaccent-color);
  border: none;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  margin: 24px auto;
}
@media only screen and (min-width: 1024px) {
  .hero-box {
    width: 750px;
  }
  .hero-lst {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .hero-item {
    width: 350px;
  }
  .hero-item > svg {
    width: 74px;
    height: 74px;
  }
  .order-btn {
    margin-top: 36px;
  }
}

/*============================|adress|===========================*/
.wrapper h2 {
  margin-bottom: 24px;
}
.office-tab {
  width: 100%;
}
.office-tab .state {
  position: absolute;
  left: -10000px;
}
.office-tab .flex-tabs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.office-tab .flex-tabs .tab {
  flex-grow: 1;
  max-height: 40px;
}
.office-tab .flex-tabs .panel {
  background-color: var(--subaccent-color);
  padding: 20px;
  min-height: 300px;
  display: none;
  width: 100%;
  flex-basis: auto;
  border-top: 2px solid var(--accent-color);
}
.office-tab .tab {
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  background-color: var(--subaccent-color);
  cursor: pointer;
  border-left: 3px solid var(--bg-color);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.office-tab .tab:hover {
  background-color: var(--accent-color);
}

#tab-one:checked ~ .tabs #tab-one-label,
#tab-two:checked ~ .tabs #tab-two-label,
#tab-three:checked ~ .tabs #tab-three-label,
#tab-four:checked ~ .tabs #tab-four-label {
  background-color: var(--accent-color);
  cursor: default;
  border-left-color: var(--accent-color);
}

#tab-one:checked ~ .tabs #tab-one-panel,
#tab-two:checked ~ .tabs #tab-two-panel,
#tab-three:checked ~ .tabs #tab-three-panel,
#tab-four:checked ~ .tabs #tab-four-panel {
  display: block;
}
.address-lst {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 24px;
}
.address-item {
  flex-basis: 250px;
  border: 2px dotted var(--accent-color);
  padding: 12px 12px 4px;
  background-color: var(--accent-color);
  border-radius: 8px;
}
.address-item h4 {
  border-bottom: 2px solid var(--subaccent-color);
}
.address-inf {
  display: flex;
  justify-content: left;
  align-items: baseline;
  padding: 10px 5px 0;
  gap: 8px;
}
.address-inf > p:last-child {
  background-color: var(--subaccent-color);
  font-weight: 700;
  border-radius: 8px;
  text-align: center;
}
@media (max-width: 600px) {
  .flex-tabs {
    flex-direction: column;
  }
  .office-tab .tab {
    border-top-right-radius: 0;
    border-top-left-radius: 20px;
  }
  .office-tab .flex-tabs .panel {
    background-color: var(--subaccent-color);
    padding: 20px;
    min-height: 300px;
    display: none;
    width: 100%;
    flex-basis: auto;
    border-top: 2px solid var(--accent-color);

    border-bottom-left-radius: 20px;
  }
  .flex-tabs .tab {
    background: var(--subaccent-color);
    border-bottom: 1px solid var(--accent-color);
  }
  .flex-tabs .tab:last-of-type {
    border-bottom: none;
  }
  .flex-tabs #tab-one-label {
    order: 1;
  }
  .flex-tabs #tab-two-label {
    order: 3;
  }
  .flex-tabs #tab-three-label {
    order: 5;
  }
  .flex-tabs #tab-four-label {
    order: 7;
  }
  .flex-tabs #tab-one-panel {
    order: 2;
  }
  .flex-tabs #tab-two-panel {
    order: 4;
  }
  .flex-tabs #tab-three-panel {
    order: 6;
  }
  .flex-tabs #tab-four-panel {
    order: 8;
  }

  #tab-one:checked ~ .tabs #tab-one-label,
  #tab-two:checked ~ .tabs #tab-two-label,
  #tab-three:checked ~ .tabs #tab-three-label,
  #tab-four:checked ~ .tabs #tab-four-label {
    border-bottom: none;
  }

  #tab-one:checked ~ .tabs #tab-one-panel,
  #tab-two:checked ~ .tabs #tab-two-panel,
  #tab-three:checked ~ .tabs #tab-three-panel,
  #tab-four:checked ~ .tabs #tab-four-panel {
    border-bottom: 1px solid #ccc;
  }
}
/*============================|garantes|===========================*/
.garantes-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
}
.garantes-box ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.garantes-box > p {
  text-align: center;
}
.garantes-item,
.add-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.garantes-item > div,
.add-item > div {
  width: 320px;
  display: flex;
  flex-direction: column;
}
.garantes-item > div h3,
.add-item > div h3 {
  text-align: left;
}
/*============================|algoritm|===========================*/

.row {
  float: left;
  width: 100%;
}
.timeline-both-side {
  float: left;
  width: 96%;
  margin: 20px 2% 50px;
  position: relative;
  box-sizing: border-box;
}
.timeline-both-side:before {
  background-color: var(--subaccent-color);
  bottom: 0;
  content: " ";
  left: 50%;
  position: absolute;
  top: 0;
  width: 1px;
}
.timeline-both-side:after {
  border-radius: 50%;
  bottom: -22px;
  content: "";
  height: 22px;
  left: 50%;
  margin-left: -11px;
  position: absolute;
  width: 22px;
  border: 2px solid var(--subaccent-color);
}
.timeline-both-side li {
  position: relative;
  float: left;
  width: 100%;
}
.timeline-both-side li .border-line {
  background-color: var(--subaccent-color);
  font-size: 1.4em;
  height: 1px;
  left: 50%;
  margin-left: -8%;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 8%;
  z-index: 100;
}
.timeline-both-side li.opposite-side .border-line {
  left: auto;
  right: 50%;
  margin-left: 0;
  margin-right: -8%;
}
.timeline-both-side li .border-line:before {
  background-color: var(--subaccent-color);
  content: "";
  height: 7px;
  position: absolute;
  right: -4px;
  top: -3px;
  width: 7px;
}
.timeline-both-side li.opposite-side .border-line:before {
  left: -4px;
  right: auto;
}
.timeline-both-side li .timeline-description {
  border-radius: 8px;
  background-color: var(--accent-color);
  border: 1px solid var(--subaccent-color);
  float: left;
  font-size: 14px;
  padding: 10px;
  position: relative;
  width: 42%;
}
.timeline-both-side li.opposite-side .timeline-description {
  float: right;
}

.algoritm-box > p {
  text-align: center;
}
/*============================|Special|===========================*/
.special-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.special-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.special-content img {
  width: 320px;
}
.content-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 320px;
}
.special-box p {
  text-align: left;
}
/*============================|why|===========================*/
.benefits-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.benefits-box > ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.benefits-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.benefits-item > div {
  width: 320px;
  display: flex;
  flex-direction: column;
}
.benefits-item > div h3 {
  text-align: left;
}
